@using System.Web.UI.WebControls
@model Nexsus.Models.CategoryViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Search</title>

    @section MyStyle
    {
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

    }

</head>
<body>
    <div>
        <div class="container">


            <center>
                <h2>Category Search</h2>

                <form method="post">

                    <table>
                        <tr>
                            <div class="form-group">
                                <td>@Html.LabelFor(c => c.Code)</td>
                                @*<td><input type="text" name="RollNo" value="@Model.RollNo" /></td>*@
                                <td>@Html.TextBoxFor(c => c.Code, Model.Code)</td>
                                @*<td>@Html.ValidationMessageFor(c => c.Code)</td>*@
                            </div>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(c => c.Name)</td>
                            @*<td><input type="text" name="Name" value="@Model.Name" /></td>*@
                            <td>@Html.TextBoxFor(c => c.Name, Model.Name)</td>
                            @*<td>@Html.ValidationMessageFor(c => c.Name)</td>*@

                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-info">Search</button>


                            <td>
                                @if (ViewBag.Message != null)
                                {
                                    <h3>
                                        <b>
                                            @ViewBag.Message
                                        </b>
                                    </h3>
                                }

                            </td>
                        </tr>

                    </table>



                </form>
            </center>
            <table>
                <tr>
                    <th>Sl</th>
                    <th>Code No</th>
                    <th>Name</th>
            
                </tr>
                @{ int i = 1;}
                @foreach (var category in Model.Categorys)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@category.Code</td>
                        <td>@category.Name</td>
                       
             
                    </tr>
                }

            </table>
        </div>

    </div>
</body>

</html>

