@model IEnumerable<Nexsus.Model.Model.CategoryModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>


<html>
<head>
 <title> Search Category</title>

</head>
<body>
<div>
    <div class="container">
    <div class="jumbotron">

             <center>
             <h2>Category Search</h2>
             </center>
        <h2><button type="button" class="btn btn-primary btn-lg"  onclick="window.location.href = ('@Url.Action("Add", "Category")')" >Category Entry </button></h2>
    
        
       <form class="example" method="get">
        <input type="text" placeholder="Search.." name="seacrhing">
        <button type="submit" onclick="window.location.href = ('@Url.Action("Search", "Category")')" ><i class="fa fa-search"></i></button>
    </form>

    </div>
    </div>

</div>
    

</body>

</html>
       
  
<div class="container">
    <h2>Records</h2>

    <table class="table">
        <thead>
            <tr class="info">
                <th>SL</th>
                <th>Code</th>
                <th>Name</th>
             
            </tr>
        </thead>
        <tbody>

            @{ int i = 1;}
            @foreach (var category in Model)
            {
                <tr class="active">
                    <td>@(i++)</td>
                    <td>@category.Code</td>
                    <td>@category.Name</td>
                   
                 
                </tr>

            }

        </tbody>

    </table>
</div>


<head>
    <title>Add Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial;
        }

        * {
            box-sizing: border-box;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
